header {
  background: #333333;
  padding: 10px 0;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  margin-left: 15px;
}

header .logo img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

header .logo img:hover {
  transform: translateX(5px);
}

header ul {
  list-style-type: none;
  display: flex;
}

header ul li {
  margin: 0 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}

header ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px;
  background-color: gold;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

header ul li a:hover {
  color: gold; 
}

header ul li a:hover::after {
  transform: scaleX(1);
}